exclude *.ipynb
exclude *.py
exclude *.txt
exclude *.yml
exclude *.yaml
exclude Makefile
prune .idea
prune docs
prune poc
prune tests
prune test_data
prune datasheet
prune firmware
include setup.py
include *.conf
recursive-include libreprinter *.py
include libreprinter/assets/LICENSE

