exclude *.ipynb
exclude *.py
exclude *.txt
exclude *.yml
exclude *.yaml
exclude Makefile
prune debian
prune images
prune tools
prune .idea
prune doc
prune poc
prune tests
prune test_data
prune datasheet
prune firmware
include setup.py
include *.conf
recursive-include libreprinter *.py
