#!/usr/bin/make -f
# Increase trace logging, see debhelper(7) (uncomment to enable)
DH_VERBOSE=1
export PYBUILD_DISABLE_python2=1
export PYBUILD_NAME=libreprinter
PACKAGE=$(shell dh_listpackages)
DEB_DIR=debian/$(PACKAGE)
LOCAL_INSTALL_ROOT=$(DEB_DIR)/usr/share/$(PACKAGE)
# Disable running tests
DEB_BUILD_OPTIONS=nocheck

.PHONY: override_dh_install override_dh_python3

%:
	dh $@ --with systemd --with python3 --buildsystem=pybuild

override_dh_install:
	dh_install  #calls default *.install and *.dirs installation

	# Create /etc directory for config file
	install -d $(DEB_DIR)/etc/$(PACKAGE)/
	install -m 644 libreprinter.conf $(DEB_DIR)/etc/$(PACKAGE)/

	# Create directory for firmware & updater
	install -d $(LOCAL_INSTALL_ROOT)/firmware/bin/
	install -m 755 firmware/firmware_updater.sh $(LOCAL_INSTALL_ROOT)/firmware/
	install -m 755 firmware/restart_interface.py $(LOCAL_INSTALL_ROOT)/firmware/
	install -m 644 firmware/bin/libreprinter.ino.hex $(LOCAL_INSTALL_ROOT)/firmware/bin/

	# Create data dir, permissions will be fixed in postinst
	install -d $(DEB_DIR)/var/lib/$(PACKAGE)/

override_dh_python3:
	# Script tools inherit the python2 shebang without explicit force...
	dh_python3 --shebang=/usr/bin/python3

	rm -rf $(DEB_DIR)/usr/lib/python3/dist-packages/doc/
	rm -rf $(DEB_DIR)/usr/lib/python3/dist-packages/tools/
	rm -rf $(DEB_DIR)/usr/lib/python3/dist-packages/firmware/
